Repository barrett370/Ricardo-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: DOCUMENTATION, RICARDO, TERRAFORM, CI

added vibes
  src/ricardo.js
Labels: RICARDO

added vibes (#28)
  src/ricardo.js
Labels: RICARDO

moved ricardo to finland
  terraform/main.tf
Labels: TERRAFORM

moved ricardo to finland (#29)
  terraform/main.tf
Labels: TERRAFORM

Revert "moved ricardo to finland (#29)"
  terraform/main.tf
Labels: TERRAFORM

Revert "moved ricardo to finland (#29)" (#30)
  terraform/main.tf
Labels: TERRAFORM

fix vibe check fail probability
  src/ricardo.js
Labels: RICARDO

fix vibe check fail probability (#31)
  src/ricardo.js
Labels: RICARDO

my bad
  src/ricardo.js
Labels: RICARDO

Fix bug (#32)
  src/ricardo.js
Labels: RICARDO

Cleaning up code on advice of `codefactor.io`
  src/ricardo.js
Labels: RICARDO

Cleaning up code on advice of `codefactor.io` (#33)
  src/ricardo.js
Labels: RICARDO

more tweaks
  src/ricardo.js
Labels: RICARDO

Code cleanup (#34)
  src/ricardo.js
Labels: RICARDO

add status badges
  README.md
  src/ricardo.js
Labels: DOCUMENTATION, RICARDO

Add status badges to README (#35)
  README.md
Labels: DOCUMENTATION

added checking for bloomberg links
  src/ricardo.js
Labels: RICARDO

Code cleanup (#36)
  src/ricardo.js
Labels: RICARDO

test
  src/resources/quotes.json
  src/ricardo.js
Labels: RICARDO

actually called function now
  src/ricardo.js
Labels: RICARDO

quotes working
  src/resources/quotes.json
  src/ricardo.js
Labels: RICARDO

Sun tzu (#37)
  src/resources/quotes.json
  src/ricardo.js
Labels: RICARDO

add shame gif
  src/ricardo.js
Labels: RICARDO

Shame (#38)
  src/ricardo.js
Labels: RICARDO

move to us-west1
  terraform/main.tf
Labels: TERRAFORM

move to us-west1 (#39)
  terraform/main.tf
Labels: TERRAFORM

change docker tagging
  .circleci/config.yml
  terraform/provisioning.sh
Labels: TERRAFORM, CI

change docker tagging (#40)
  .circleci/config.yml
  terraform/provisioning.sh
Labels: TERRAFORM, CI

copied resrouces to pages root
  docs/ricardo-resources/avatar.jpg
  docs/ricardo-resources/bigbrain.gif
  docs/ricardo-resources/quotes.json
  docs/ricardo-resources/ricardo.gif
  src/ricardo.js
Labels: RICARDO

copied resources to pages root (#41)
  docs/ricardo-resources/avatar.jpg
  docs/ricardo-resources/bigbrain.gif
  docs/ricardo-resources/quotes.json
  docs/ricardo-resources/ricardo.gif
  src/ricardo.js
Labels: RICARDO

Set theme jekyll-theme-minimal
  docs/_config.yml
Labels: none

moved all resources to web
  src/resources/avatar.jpg
  src/resources/bigbrain.gif
  src/resources/quotes.json
  src/resources/ricardo.gif
  src/ricardo.js
Labels: RICARDO

moved all resources to web (#43)
  src/resources/avatar.jpg
  src/resources/bigbrain.gif
  src/resources/quotes.json
  src/resources/ricardo.gif
  src/ricardo.js
Labels: RICARDO

working on converting ricardo to TS
  src/TS
  src/bin/auth.json
  src/bin/resources/quotes.json
  src/bin/ricardo-ts.js
  src/bin/ricardo.js
  src/package-lock.json
  src/package.json
  src/ricardo-ts.ts
  src/tsconfig.json
Labels: RICARDO

swapped to typescript
  .gitignore
  Dockerfile
  src/TS
  src/bin/ricardo-ts.js
  src/ricardo-ts.ts
  src/tsconfig.json
Labels: RICARDO

delete old auth.json
  src/bin/auth.json
Labels: none

Swappedto ts (#44)
  .gitignore
  Dockerfile
  src/bin/resources/quotes.json
  src/bin/ricardo-ts.js
  src/bin/ricardo.js
  src/package-lock.json
  src/package.json
  src/ricardo-ts.ts
  src/tsconfig.json
Labels: RICARDO

fix ricardo
  Dockerfile
  src/bin/ricardo.js
  src/ricardo.js
Labels: RICARDO

fix ricardo (#45)
  Dockerfile
  src/bin/ricardo.js
  src/ricardo.js
Labels: RICARDO

tweak
  Dockerfile
Labels: none

.github/labeler.yml:

DOCUMENTATION:
  - README.md

RICARDO:
  - src/*

TERRAFORM:
  - terraform/*

CI:
  - .circleci/*
  - .github/*
