Repository barrett370/Ricardo-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: DOCUMENTATION, RICARDO, TERRAFORM, CI

.github/labeler.yml:

DOCUMENTATION:
  - README.md

RICARDO:
  - src/*

TERRAFORM:
  - terraform/*

CI:
  - .circleci/*
  - .github/*

Fix (#46)
  Dockerfile
Labels: none

fix resource file paths
  src/ricardo-ts.ts
Labels: RICARDO

compile
  src/bin/ricardo-ts.js
Labels: none

Fix (#47)
  Dockerfile
  src/bin/ricardo-ts.js
  src/ricardo-ts.ts
Labels: RICARDO

fix
  src/bin/ricardo-ts.js
  src/ricardo-ts.ts
Labels: RICARDO

Fix (#48)
  src/bin/ricardo-ts.js
  src/ricardo-ts.ts
Labels: RICARDO

added coronatime
  docs/ricardo-resources/coronatime.jpg
  src/ricardo-ts.ts
Labels: RICARDO

spoof change
  README.md
Labels: DOCUMENTATION

spoof change (#49)
  README.md
Labels: DOCUMENTATION

tweak ci job
  .circleci/config.yml
  src/ricardo-ts.ts
Labels: RICARDO, CI

tweak ci deploy (#50)
  .circleci/config.yml
  src/ricardo-ts.ts
Labels: RICARDO, CI

[ImgBot] Optimize images
  docs/ricardo-resources/coronatime.jpg
Labels: none

Add files via upload
  docs/ricardo-resources/Snapchat-1935457207.jpg
Labels: none

edit circle config
  .circleci/config.yml
  terraform/bin/bot-host-253711-7846707e9379.json
  terraform/main.tf
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
  terraform/terraform.tfvars
Labels: TERRAFORM, CI

modify circle config
  .circleci/config.yml
Labels: CI

remove tfstate
  .gitignore
  terraform/terraform.tfstate
Labels: TERRAFORM

fix ci (#52)
  .circleci/config.yml
  .gitignore
  terraform/bin/bot-host-253711-7846707e9379.json
  terraform/main.tf
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
  terraform/terraform.tfvars
Labels: TERRAFORM, CI

rm bin
  .gitignore
  terraform/bin/bot-host-253711-7846707e9379.json
Labels: none

update
  .circleci/config.yml
Labels: CI

fix typo
  .circleci/config.yml
Labels: CI

tidy
  .circleci/config.yml.off
  .gitignore
  terraform/terraform.tfstate.backup
  terraform/terraform.tfvars
Labels: TERRAFORM, CI

update image paths
  Dockerfile
  src/bin/ricardo-ts.js
  src/package-lock.json
  src/ricardo-ts.ts
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
Labels: RICARDO, TERRAFORM

reenable circleci
  .circleci/config.yml
Labels: CI

basic bot in ReScript
  .gitignore
  package-lock.json
  package.json
  src/.gitignore
  src/README.md
  src/lib/js/src/demo.js
  src/package-lock.json
  src/package.json
  src/ricardo.res
Labels: RICARDO

rotted repo :(
  docs/ricardo-resources/indeed.jpeg
  package-lock.json
  package.json
  src/ricardo-ts.js
  src/ricardo-ts.ts
  src/ricardo.res
  src/tsconfig.json
Labels: RICARDO

[ImgBot] Optimize images
  docs/ricardo-resources/Snapchat-1935457207.jpg
  docs/ricardo-resources/bigbrain.gif
  docs/ricardo-resources/coronatime.jpg
  docs/ricardo-resources/ricardo.gif
Labels: none

major refactor
  .circleci/config.yml
  .envrc
  .github/workflows/docker-publish.yaml
  .gitignore
  Dockerfile
  docs/_config.yml
  flake.lock
  flake.nix
  package-lock.json
  package.json
  src/bin/resources/quotes.json
  src/bin/ricardo-ts.js
  src/deploy-commands.ts
  src/lib/js/src/demo.js
  src/package-lock.json
  src/package.json
  src/resources/img/Snapchat-1935457207.jpg
  src/resources/img/avatar.jpg
  src/resources/img/bigbrain.gif
  src/resources/img/coronatime.jpg
  src/resources/img/indeed.jpeg
  src/resources/img/ricardo.gif
  src/resources/quotes.json
  src/ricardo-ts.js
  src/ricardo-ts.ts
  src/ricardo.res
  src/ricardo.ts
  terraform/main.tf
  terraform/provisioning.sh
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
  terraform/variables.tf
  tsconfig.json
Labels: RICARDO, TERRAFORM, CI

update dockerfile
  .gitignore
  Dockerfile
  Justfile
  README.md
  src/deploy-commands.ts
  src/ricardo.ts
Labels: DOCUMENTATION, RICARDO

final form
  Justfile
  src/deploy-commands.ts
  src/ricardo.ts
Labels: RICARDO

change imgs path
  src/ricardo.ts
Labels: RICARDO

research message responses
  Dockerfile
  src/ricardo.ts
Labels: RICARDO

minor change
  src/ricardo.ts
Labels: RICARDO

tidy
  .gitlab-ci.yml
  Makefile
  scripts/docker-make.sh
  src/.gitignore
  src/README.md
Labels: RICARDO

remove indeed
  src/ricardo.ts
Labels: RICARDO

Revert "remove indeed"
  src/ricardo.ts
Labels: RICARDO

added numberwang
  Dockerfile
  src/ricardo.ts
Labels: RICARDO

fix
  package-lock.json
  src/ricardo.ts
Labels: RICARDO

audit fix
  package-lock.json
Labels: none

fmt
  src/ricardo.ts
Labels: RICARDO

remove bad import
  src/ricardo.ts
Labels: RICARDO
