Repository barrett370/Ricardo-bot, pull requests merged in 2019-11, with the labels that each got.

#33 Cleaning up code on advice of `codefactor.io`
  src/ricardo.js
Labels: RICARDO

#34 Code cleanup
  src/ricardo.js
Labels: RICARDO

#36 Code cleanup
  src/ricardo.js
Labels: RICARDO

#37 Sun tzu
  src/resources/quotes.json
  src/ricardo.js
Labels: RICARDO

#39 move to us-west1
  terraform/main.tf
Labels: TERRAFORM

#40 change docker tagging
  .circleci/config.yml
  terraform/provisioning.sh
Labels: CI, TERRAFORM

#44 Swappedto ts
  .gitignore
  Dockerfile
  src/bin/resources/quotes.json
  src/bin/ricardo-ts.js
  src/bin/ricardo.js
  src/package-lock.json
  src/package.json
  src/ricardo-ts.ts
  src/tsconfig.json
Labels: RICARDO
